<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolflix</title>

    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">

    <script>src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"</script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

</head>
<body>
    
    <div id="root">

        <div class="container">
            
            <header>
                <!-- logo -->
                <div class="logo">
                    <h1>BOOLFLIX</h1>
                </div>

                <!-- search bar -->
                <div>
                    <input 
                        v-model="userSearchMovie"
                        type="text" 
                        placeholder="Inserisci un titolo"
                    >
                    <button @click="searchMovie">Cerca</button>
                </div>
            </header>


            <main>
                <!-- movie -->
                <div class="cover-container">
                    <div v-for="(movie, index) in movie" class="cover">
                        <div class="shaw">
                            <div>
                                <span>Titolo: </span>{{ movie.title }}
                            </div>
                            <div>
                                <span>Titolo originale: </span>{{ movie.original_title }}
                            </div>
                            <div>
                                <span>Lingua: </span>{{ movie.original_language }}
                            </div>
                            <div>
                                <span>Voto: </span><span v-for="star in voteFilm[index]" class="star"><i class="fas fa-star"></i></span>
                            </div>
                            <div class="crop">
                                <span>Overview: </span>{{ movie.overview }}
                            </div>
                        </div>
                        <img :src="imageFilm[index]" alt="">
                    </div>
                    <!-- series -->
                    <div v-for="(movie, index) in tvSeries" class="cover">
                        <div class="shaw">
                            <div>
                                <span>Titolo: </span>{{ movie.name }}
                            </div>
                            <div>
                                <span>Titolo originale: </span>{{ movie.original_name }}
                            </div>
                            <div>
                                <span>Lingua: </span>{{ movie.original_language }}
                            </div>
                            <div>
                                <span>Voto: </span><span v-for="star in voteTv[index]" class="star"><i class="fas fa-star"></i></span>
                            </div>
                            <div class="crop">
                                <span>Overview: </span>{{ movie.overview }}
                            </div>
                        </div>
                        <img :src="imageTv[index]" alt="">
                    </div>
                </div>
                
            </main>
        </div>

    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>